<table width="100%" bgcolor="#fafafa" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="full-text">
	<tbody>
		<tr>
			<td>
				<table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" hasbackground="true">
					<tbody>
						<tr>
							<td width="100%">
								<table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
									<tbody>
										<!-- Spacing -->
										<tr>
											<td height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;"></td>
										</tr>
										<!-- Spacing -->
										<tr>
											<td>
												<table width="560" align="justify" cellpadding="0" cellspacing="0" border="0" class="devicewidthinner">
													<tbody>
														<!-- content -->
														<tr>
															<td style="font-family: Helvetica, arial, sans-serif; font-size: 16px; color: #666666;
															 line-height: 30px;" st-content="fulltext-content">
																<p align="justify">
																	Nós somos a Townflix. Uma companhia internacional que usa tecnologia em vídeos para conectar lugares e pessoas. Ou melhor: estabelecimentos e consumidores. Hoje em dia, para atrair novos clientes e aumentar as vendas, é preciso inovar. Townflix, além de ser algo totalmente novo no mercado brasileiro, é interativa, impactante e feita sob medida para a sua necessidade.
																	<br>
																	<br> <b>Como funciona?</b>
																	<br>
																	Todos os dias, milhares de pessoas escolhem onde vão comer, comprar, viajar ou se divertir. E é aí que nós entramos.
																	<br>
																	<br>
																	Townflix ajuda nessa decisão ao produzir e distribuir videoclipes dos estabelecimentos em seus próprios sites, nas principais mídias sociais e também através dos maiores guias especializados do Brasil, como Groupon, Kekanto e até mesmo específicos, como a Lopes Imóveis.
																	<br>
																	<br>
																	As pessoas podem assistir a esses vídeos e compartilhá-los, promovendo o seu negócio em uma dimensão como você nunca imaginou.
																	<br>
																	<br>
																	Vá muito além das simples imagens e textos.
																	<br>
																	<br>Muito obrigado,</p>
															</td>
														</tr>
														<!-- End of content -->
													</tbody>
												</table>
											</td>
										</tr>
										<!-- Spacing -->
										<tr>
											<td height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;"></td>
										</tr>
										<!-- Spacing -->
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>