<!DOCTYPE html>
<html>
    <% include ../common/head %>

<body >

    <% include ../common/logo %>
    <%- include ../common/en/greetings%>
    <% include ../common/separator %>

    <%- include en.ejs%>

    <% include ../common/separator %>
    <%- include ../common/en/footer%>
    </body>
</html>