<div class="container contact-us">
    <div class="row">
        <div class="col-md-12 header-space">
            <ng-breadcrumbs page-title="footer.links.contact"></ng-breadcrumbs>
        </div>
        <div class="col-sm-8 col-sm-offset-2">
            <form role="form" class="form-horizontal" ng-submit="vm.sendMessage()" name="vm.form" novalidate>
                <div class="form-group">
                    <div class="col-sm-6" ng-class="{'has-success': vm.form.name.$valid && vm.submitted,'has-error': vm.form.name.$invalid && vm.submitted}">
                        <label for="contact-email" class="control-label sr-only">{{'contactUs.nameLabel' | translate}}</label>
                        <input type="text" class="form-control" ng-model="vm.contact.name" name="name" translate translate-attr-placeholder="{{'contactUs.nameLabel'}}" required>
                    </div>
                    <div class="col-sm-6" ng-class="{'has-success': vm.form.email.$valid && vm.submitted,'has-error': vm.form.email.$invalid && vm.submitted}">
                        <label for="contact-email" class="control-label sr-only">{{'contactUs.emailLabel' | translate}}</label>
                        <input type="email" class="form-control" ng-model="vm.contact.email" name="email" translate translate-attr-placeholder="{{'contactUs.emailLabel'}}" required>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-success': vm.form.message.$valid && vm.submitted,'has-error': vm.form.message.$invalid && vm.submitted}">
                    <div class="col-sm-12">
                        <label for="contact-message" class="control-label sr-only">{{'contactUs.messageLabel' | translate}}</label>
                        <textarea class="form-control" ng-model="vm.contact.message" name="message" rows="5" cols="30" translate translate-attr-placeholder="{{'contactUs.messageLabel'}}" required></textarea>

                    </div>
                </div>
                <div class="form-group has-error">
                    <ul class="col-sm-12">
                        <li class="help-block" ng-show="vm.errors.other">
                           {{vm.errors.other | translate}}
                        </li>
                        <li class="help-block" ng-show="vm.form.email.$error.required && vm.submitted">
                           {{'contactUs.error.emailEmpty' | translate}}
                        </li>
                        <li class="help-block" ng-show="vm.form.email.$error.email && vm.submitted">
                            {{'contactUs.error.emailValid' | translate}}
                        </li>
                        <li class="help-block" ng-show="vm.form.name.$error.required && vm.submitted">
                           {{'contactUs.error.nameEmpty' | translate}}
                        </li>
                        <li class="help-block" ng-show="vm.form.message.$error.required && vm.submitted">
                           {{'contactUs.error.messageEmpty' | translate}}
                        </li>
                    </ul>
                </div>
                 <div class="form-group has-success">
                    <div class="col-sm-12">
                        <p class="help-block" ng-show="vm.message !== null">
                            {{vm.message | translate}}
                            <i class="fa fa-spinner fa-pulse fa-2x"></i>
                        </p>
                    </div>
                </div>
                <div class="form-group pull-right">
                    <div class="col-sm-12">
                        <button id="submit-button" type="submit" class="btn btn-primary" ng-disabled="vm.disabled">
                            <i class="fa fa-check-circle"></i>
                            <span>{{'contactUs.submitButton' | translate}}</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
