<div class="container settings">
    <div class="row">
        <div class="col-md-12 header-space">
            <ng-breadcrumbs page-title="breadcrumbs.settings"></ng-breadcrumbs>
        </div>
        <form class="form" class="form-horizontal" role="form" name="vm.form" ng-submit="vm.submitForm()" novalidate>
            <div class="col-sm-6 left-container">
                <div class="form-group first-name" ng-class="{ 'has-success': vm.form.firstName.$valid && vm.submitted,'has-error': vm.form.firstName.$invalid && vm.submitted}">
                    <label class="control-label sr-only">{{'settings.firstName' | translate}}</label>
                    <div class="input-group">
                        <input type="text" name="firstName" class="form-control" ng-model="vm.user.contact.firstName" placeholder="{{'settings.firstName' | translate}}" translate translate-attr-placeholder="{{'settings.firstName'}}" required/>
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    </div>
                </div>
                <div class="form-group last-name" ng-class="{ 'has-success': vm.form.lastName.$valid && vm.submitted,'has-error': vm.form.lastName.$invalid && vm.submitted}">
                    <label class="control-label sr-only">{{'settings.lastName' | translate}}</label>
                    <div class="input-group">
                        <input type="text" name="lastName" class="form-control" ng-model="vm.user.contact.lastName" placeholder="{{'settings.lastName' | translate}}" translate translate-attr-placeholder="{{'settings.lastName'}}" required/>
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-success': vm.form.email.$valid && vm.submitted,'has-error': vm.form.email.$invalid && vm.submitted}">
                    <label for="email" class="control-label sr-only">{{"settings.emailLabel" | translate}}</label>
                    <div class="input-group">
                        <input type="email" class="form-control" name="email" ng-model="vm.user.contact.email" placeholder="{{'settings.emailLabel' | translate}}" translate translate-attr-placeholder="{{'settings.emailLabel'}}" required>
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    </div>
                </div>
                <div class="form-group has-success" ng-show="vm.message !== null">
                    <div class="col-sm-12">
                        <p class="help-block">
                            {{vm.message | translate}}
                            <i class="fa fa-spinner fa-pulse fa-2x"></i>
                        </p>
                    </div>
                </div>
                <div class="form-group has-error">
                    <div class="col-sm-12">
                        <p class="help-block has-error" ng-show="vm.errors.other">
                            {{vm.errors.other | translate}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 center-container">
                <div class="form-group" ng-class="{'has-success': vm.form.phoneNumber.$valid && vm.submitted,'has-error': vm.form.phoneNumber.$invalid && vm.submitted}">
                    <label for="number" class="control-label sr-only">{{"settings.address" | translate}}</label>
                    <div class="input-group">
                        <input class="form-control" name="phoneNumber" ng-model="vm.user.contact.phone"  placeholder="{{'settings.phoneNumber' | translate}}" translate translate-attr-placeholder="{{'settings.phoneNumber'}}" required>
                        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-success': vm.form.address.$valid && vm.submitted,'has-error': vm.form.address.$invalid && vm.submitted}">
                    <label class="control-label sr-only">{{'settings.address' | translate}}</label>
                    <div class="input-group">
                        <input ng-click="vm.cleanAddress()"
                                vs-google-autocomplete="{types: ['address']}"
                                ng-model="vm.user.address.full"
                                vs-city="vm.user.address.city"
                                vs-state="vm.user.address.state"
                                vs-country="vm.user.address.country"
                                vs-post-code="vm.user.address.zip"
                                vs-street="vm.user.address.street"
                                name="address"
                                type="text"
                                class="form-control"
                                placeholder="{{'settings.address' | translate}}"
                                required>
                        <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                    </div>
                </div>
                <div class="col-sm-12 change-password-link">
                    <a ui-sref="root.home.change-password">{{"header.links.changePassword" | translate}}</a>
                </div>
                <div class="col-sm-12">
                    <h5 class="pull-right">{{'settings.fieldRequired' | translate}}</h5>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group pull-right handler-buttons">
                    <button type="submit" class="btn btn-primary" ng-disabled="vm.disabled"><i class="fa fa-check-circle"></i> {{'settings.submitButton' | translate}}</button>
                    <a ui-sref="root.home" class="btn pull-right">{{"common.backButton" | translate}}</a>
                </div>
            </div>
        </form>
    </div>
</div>