<div class="container job-detail-active">
    <div class="row">
        <div class="col-md-12 header-space">
            <ng-breadcrumbs page-title="breadcrumbs.flixer-admin.job.job-detail"></ng-breadcrumbs>
        </div>
    </div>
    <div class="col-lg-12 col-sm-12 back-link">
        <a ui-sref="root.home.flixer-admin.jobs" class="btn pull-right">{{"common.backButton" | translate}}</a>
        <button class="btn btn-primary pull-right" ng-click="vm.openModal()" ng-show="vm.flixers.length > 0">
            <i class="fa fa-check-circle"></i>
            {{'job-detail.assign' | translate}}
        </button>
    </div>
    <div class="page-content">
        <div class="col-lg-6 col-sm-12 column-content">
            <div class="row">
                <div class="col-lg-4">
                    <label class="form-label">{{"job-detail.status" | translate}}</label>
                </div>
                <div class="col-lg-8">
                    <label class="form-value upper">{{vm.job.status}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <label class="form-label">{{"job-detail.name" | translate}}</label>
                </div>
                <div class="col-lg-8">
                    <label class="form-value">{{vm.job.title}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <label class="form-label">{{"job-detail.code" | translate}}</label>
                </div>
                <div class="col-lg-8">
                    <label class="form-value">{{vm.job._id}}</label>
                </div>
            </div>
            <div class="row" ng-show='vm.job.originExternalReference'>
                <div class="col-lg-4">
                    <label class="form-label">{{"job-detail.external-reference" | translate}}</label>
                </div>
                <div class="col-lg-8">
                    <label class="form-value">{{vm.job.originExternalReference}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <label class="form-label">{{"job-detail.description" | translate}}</label>
                </div>
                <div class="col-lg-8">
                    <label class="form-value">{{vm.job.description}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <label class="form-label">{{"job-detail.schedules" | translate}}</label>
                </div>
                <div class="col-lg-8">
                    <span ng-repeat="schedule in vm.job.schedules">
                        <label class="form-value">{{vm.timeFormatting(schedule)}}</label>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 column-content">
            <div class="row">
                <div class="col-lg-12">
                    <label class="form-label">{{"job-detail.venue" | translate}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <label class="form-value">{{vm.job.address.full}}</label>
                </div>
                <div class="col-lg-12">
                    <ui-gmap-google-map center="vm.map.center" zoom="vm.map.zoom">
                        <ui-gmap-markers models="vm.map.markers" coords="'self'" modelsbyref="false"/>
                    </ui-gmap-google-map>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-sm-12 back-link">
        <a ui-sref="root.home.flixer-admin.jobs" class="btn pull-right">{{"common.backButton" | translate}}</a>
        <button class="btn btn-primary pull-right" ng-click="vm.openModal()">
            <i class="fa fa-check-circle"></i>
            {{'job-detail.assign' | translate}}
        </button>
    </div>
</div>