<div class="modal-confirm dialog-contents col-md-12">
    <h1>{{'job-detail.take.title' | translate}}</h1>
    <div class="col-md-12">
        <h3>{{'job-detail.take.confirmation' | translate}}</h3>
    </div>
        <p ng-if="vm.showProgress">
            {{'common.processingMessage' | translate}}
            <i class="fa fa-spinner fa-pulse"></i>
        </p>
    <p class="help-block" ng-if="vm.message">
        {{vm.message | translate}}
    </p>
    <button type="button" ng-click="vm.submit()" ng-if="vm.showProgress === false" class="btn btn-primary pull-right submit">
        <i class="fa fa-check-circle"></i>
        {{'common.confirmButton' | translate}}
    </button>
</div>