<footer class="footer-minimal text-center">
    <div class="container">
        <ul class="list-unstyled list-inline">
            <li>
                <a ui-sref="root.home.about-us">{{"footer.links.about" | translate}}</a>
            </li>
            <li>
                <a ui-sref="root.home.contact-us">{{"footer.links.contact" | translate}}</a>
            </li>
            <li>
                <a ui-sref="root.home.privacy">{{"footer.links.privacy" | translate}}</a>
            </li>
            <li>
                <a ui-sref="root.home.terms">{{"footer.links.terms" | translate}}</a>
            </li>
            <li>
                <a ui-sref="root.home.faq">{{"footer.links.faq" | translate}}</a>
            </li>
        </ul>
        <ul class="list-inline social-icons light-icons">
            <li>
                <a href="#" target="_blank" class="facebook-bg">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="#" target="_blank" class="twitter-bg">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="#" target="_blank" class="googleplus-bg">
                    <i class="fa fa-youtube"></i>
                </a>
            </li>
        </ul>
        <div class="copyright">
            ©
        </div>
    </div>
</footer>
