<div class="container signup-bo">
    <div class="row">
        <div class="col-sm-12 header-space">
            <ng-breadcrumbs page-title="breadcrumbs.signup"></ng-breadcrumbs>
        </div>
        <form class="form" class="form-horizontal" role="form" name="vm.form" ng-submit="vm.register()" novalidate>
            <div class="col-sm-6 left-container">
                <div class="col-sm-6 form-group first-name" ng-class="{ 'has-success': vm.form.firstName.$valid && vm.submitted,'has-error': vm.form.firstName.$invalid && vm.submitted}">
                    <label class="control-label sr-only">{{'signUp.firstName' | translate}}</label>
                    <div class="input-group">
                        <input type="text" name="firstName" class="form-control" ng-model="vm.user.firstName" placeholder="{{'signUp.firstName' | translate}}" translate translate-attr-placeholder="{{'signUp.firstName'}}" required/>
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    </div>
                </div>
                <div class="col-sm-6 form-group last-name" ng-class="{ 'has-success': vm.form.lastName.$valid && vm.submitted,'has-error': vm.form.lastName.$invalid && vm.submitted}">
                    <label class="control-label sr-only">{{'signUp.lastName' | translate}}</label>
                    <div class="input-group">
                        <input type="text" name="lastName" class="form-control" ng-model="vm.user.lastName" placeholder="{{'signUp.lastName' | translate}}" translate translate-attr-placeholder="{{'signUp.lastName'}}" required/>
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-success': vm.form.email.$valid && vm.submitted,'has-error': vm.form.email.$invalid && vm.submitted}">
                    <label for="email" class="control-label sr-only">{{"signUp.emailLabel" | translate}}</label>
                    <div class="input-group">
                        <input type="email" class="form-control" name="email" ng-model="vm.user.email" placeholder="{{'signUp.emailLabel' | translate}}" translate translate-attr-placeholder="{{'signUp.emailLabel'}}" required>
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-success': vm.form.password.$valid && vm.submitted,'has-error': vm.form.password.$invalid && vm.submitted}">
                    <label for="password" class="control-label sr-only">{{"signUp.passwordLabel" | translate}}</label>
                    <div class="input-group">
                        <input type="password" class="form-control" name="password" ng-model="vm.user.password"  placeholder="{{'signUp.passwordLabel' | translate}}" translate translate-attr-placeholder="{{'signUp.passwordLabel'}}" required>
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-success': vm.form.confirmPassword.$valid && vm.submitted,'has-error': vm.form.confirmPassword.$invalid && vm.submitted}">
                    <label for="password" class="control-label sr-only">{{"signUp.confirmPasswordLabel" | translate}}</label>
                    <div class="input-group">
                        <input type="password"  match="vm.user.password" class="form-control" name="confirmPassword" ng-model="vm.user.confirmPassword"  placeholder="{{'signUp.confirmPasswordLabel' | translate}}" translate translate-attr-placeholder="{{'signUp.confirmPasswordLabel'}}" required>
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    </div>
                </div>
                 <p class="help-block error" ng-show="vm.form.confirmPassword.$error.match && vm.form.confirmPassword.$dirty && vm.submitted">Fields do not match!</p>
            </div>
            <div class="col-sm-6 right-container">
                <div class="form-group">
                    <div agr-recaptcha key="{{vm.siteKey}}" response="vm.gRecaptchaResponse"></div>
                    <p class="help-block error" ng-show="vm.gRecaptchaResponse === null && vm.submitted">
                       {{'signUp.error.captcha' | translate}}
                    </p>
                </div>
                <div class="form-group" ng-class="{'has-success': vm.form.phoneNumber.$valid && vm.submitted,'has-error': vm.form.phoneNumber.$invalid && vm.submitted}">
                    <label for="number" class="control-label sr-only">{{"signUp.phoneNumber" | translate}}</label>
                    <div class="input-group">
                        <input type="number" class="form-control" name="phoneNumber" ng-model="vm.user.phoneNumber"  placeholder="{{'signUp.phoneNumber' | translate}}" translate translate-attr-placeholder="{{'signUp.phoneNumber'}}" required>
                        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-success': vm.form.country.$valid && vm.submitted,'has-error': vm.form.country.$invalid && vm.submitted}">
                    <label class="control-label control-label sr-only">{{'signUp.countrySelect' | translate}}</label>
                    <select name="country" class="form-control" ng-model="vm.user.country" required>
                        <option disabled value="">{{'signUp.countrySelect' | translate}}</option>
                        <option ng-repeat="option in vm.getCountries" value="{{option.code}}">{{option.name}}</option>
                    </select>
                </div>
                <h5 class="pull-right">{{'signUp.fieldRequired' | translate}}</h5>
            </div>
            <div class="col-sm-12">
                <hr>
                <div class="terms-condition">
                    <h3>{{'signUp.termsConditionTitle' | translate}}</h3>
                    <p class="box-terms">{{'signUp.termsAndConditions' | translate}}</p>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-xs-9 check-box" ng-class="{'has-success': vm.form.checkTerms.$valid && vm.submitted,'has-error': vm.form.checkTerms.$invalid && vm.submitted}">
                        <label>
                            <input type="checkbox" name="checkTerms" value="vm.user.checkTerms" ng-model="vm.user.checkTerms" required>
                            {{'signUp.aggredTerms' | translate}}
                        </label>
                    </div>
                    <div class="col-sm-6 col-xs-3">
                        <a href="" class="pull-right" ng-click="vm.printTerms()">{{'signUp.print' | translate}}</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group pull-right handler-buttons">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-check-circle"></i> {{'signUp.submitButton' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
