<div class="container login">
    <div class="row">
        <div class="col-md-12 header-space">
            <ng-breadcrumbs page-title="breadcrumbs.login"></ng-breadcrumbs>
            <ng-cta-fixed
                description-text="cta.fixed.becomeFlixer"
                cta-text="cta.fixed.learnMore"
                cta-state="root.home.signup-flixer">
            </ng-cta-fixed>
            <div class="register-box col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
                <form class="form-horizontal" name="vm.form" role="form" ng-submit="vm.login()" novalidate>
                    <div class="form-group" ng-class="{'has-success': vm.form.email.$valid && vm.submitted,'has-error': vm.form.email.$invalid && vm.submitted}">
                        <label for="email" class="control-label sr-only">{{"login.emailLabel" | translate}}</label>
                        <div class="col-sm-12">
                            <div class="input-group">
                                <input type="email" class="form-control" name="email" ng-model="vm.user.email" placeholder="{{'login.emailLabel' | translate}}" translate translate-attr-placeholder="{{'login.emailLabel'}}" required>
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-success': vm.form.password.$valid && vm.submitted,'has-error': vm.form.password.$invalid && vm.submitted}">
                        <label for="password" class="control-label sr-only">{{"login.passwordLabel" | translate}}</label>
                        <div class="col-sm-12">
                            <div class="input-group">
                                <input type="password" class="form-control" name="password" ng-model="vm.user.password"  placeholder="{{'login.passwordLabel' | translate}}" translate translate-attr-placeholder="{{'login.passwordLabel'}}" required>
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group has-error">
                        <div class="col-sm-12">
                            <p class="help-block has-error" ng-show="vm.form.email.$error.required && vm.submitted">
                               {{'login.error.emailEmpty' | translate}}
                            </p>
                            <p class="help-block has-error" ng-show="vm.form.password.$error.required && vm.submitted">
                               {{'login.error.passwordEmpty' | translate}}
                            </p>
                            <p class="help-block has-error" ng-show="vm.form.email.$error.email && vm.submitted">
                                {{'login.error.emailValid' | translate}}
                            </p>
                            <p class="help-block has-error" ng-show="vm.errors.other">
                                {{vm.errors.other | translate}}
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p class="pull-right">
                                <a ui-sref="root.home.forgot-password"><strong>{{"login.forgotPasswordLink" | translate}}</strong></a>
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-check-circle"></i> {{"login.loginButton" | translate}}</button>
                        </div>
                    </div>
                </form>
                <p>
                    <em>{{"login.accountLabel" | translate}}</em>
                    <a ui-sref="root.home.signup-bo"><strong>{{"login.signUp" | translate}}</strong></a>
                </p>
                <div class="become-flixer">
                    <hr>
                    <h2 class="section-heading">{{"cta.fixed.becomeFlixer.title" | translate}}</h2>
                    <p>{{"cta.fixed.becomeFlixer" | translate}}</p>
                    <a ui-sref="root.home.signup-flixer">
                        <button type="button" class="btn btn-primary btn-block">
                            {{"cta.fixed.learnMore" | translate}}
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>