<table width="100%" bgcolor="#fafafa" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="full-text">
  <tbody>
    <tr>
      <td>
        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" hasbackground="true">
          <tbody>
            <tr>
              <td width="100%">
                <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                  <tbody>
                    <!-- Spacing -->
                    <tr>
                      <td height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;"></td>
                    </tr>
                    <!-- Spacing -->
                    <tr>
                      <td>
                        <table width="560" align="justify" cellpadding="0" cellspacing="0" border="0" class="devicewidthinner">
                          <tbody>
                            <!-- content -->
                            <tr>
                              <td style="font-family: Helvetica, arial, sans-serif; font-size: 16px; color: #666666;
                               line-height: 30px;" st-content="fulltext-content">
                                <p align="justify">
                                  Bem feito! Você acabou de tomar um trabalho a partir do painel Townflix.
                                  <br><br>
                                  Isto é o que você precisa saber sobre ele.
                                  <br><br>
                                  <b>Data: <%= data.job.date %></b><br>
                                  <b>Onde: <%= data.job.address %></b><br>
                                  <b>Pessoa de contato: <%= data.job.contact %></b>
                                  <br><br>
                                  Certifique-se de estar no tempo, levar o equipamento certo e ter uma atitude profissional com o cliente. Não se esqueça que você deve fazer o upload do vídeo e fotos final, até 24 horas depois de ter filmado o lugar.
                                  <br><br>
                                  Por favor, leia este breve guia que explica como fazer este trabalho devidamente. Você pode ser penalizado por não seguir essas <a href="http://www.townflix.com/flixer-manual">regras Townflix</a>.
                                  <br><br>
                                  <a href="http://www.townflix.com/faq">Em caso de dúvidas, consulte nosso FAQ.</a>
                                  <br><br>
                                  Você pode cancelar este trabalho até 72 horas antes da data designada sem ser penalizado.
                                  <br><br>
                                  Desejamos a você boa sorte no trabalho!
                                  <br><br>
                                  <b>Equipe Townflix</b>
                                </p>
                              </td>
                            </tr>
                            <!-- End of content --> </tbody>
                        </table>
                      </td>
                    </tr>
                    <!-- Spacing -->
                    <tr>
                      <td height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;"></td>
                    </tr>
                    <!-- Spacing --> </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>