<div class="container flixer-admin-flixer profile-style">
    <div class="row">
        <div class="col-md-12 header-space">
            <ng-breadcrumbs page-title="breadcrumbs.flixerAdminFlixers"></ng-breadcrumbs>
        </div>
        <div class="col-lg-12 col-sm-12 back-link">
            <a ui-sref="root.home.flixer-admin" class="btn pull-right">{{"common.backButton" | translate}}</a>
        </div>
        <div class="col-lg-3 col-sm-6 " ng-repeat="user in vm.users" ng-click="vm.flixerProfile(user._id)">
            <div class="profile hovercard pointer hovereffect">
                <div class="avatar">
                    <img cdn-src src="{{user.profilePicture[0].entryId}}" width-k="200" height-k="200" type-k="1" >
                </div>
                <div class="info">
                    <div class="title">
                        <a href ng-click="vm.flixerProfile(user._id)">{{user.contact.firstName}} {{user.contact.lastName}}</a>
                    </div>
                </div>
                <div class="bottom">
                    <span>{{user.flixerPostulation.status}}</span>
                </div>
                 <div class="overlay">
                 </div>
            </div>
        </div>
        <div class="col-lg-12 col-sm-12 back-link">
            <a ui-sref="root.home.flixer-admin" class="btn pull-right">{{"common.backButton" | translate}}</a>
        </div>
    </div>
</div>