<div class="container videos">
    <div class="row">
        <div class="col-md-12">
            <section>
                <div class="container">
                    <div class="heading-center">
                        <h2 class="section-heading">Videos</h2>
                        <hr>
                    </div>
                    <div class="row" infinite-scroll="vm.getVideos()" infinite-scroll-disabled="vm.busy">
                        <div class="col-md-3 video" ng-repeat="video in vm.videos">
                            <div class="boxed-content">
                                <h2 class="boxed-content-title" ui-sref="root.home.video({ id: video._id })">
                                    {{::video.name}}
                                </h2>
                                <videogular id="{{::video._id}}" vg-player-ready="vm.onPlayerReady($API, video._id)">
                                    <vg-media vg-src="[{src: vm.serverBackEnd + video.url, type: 'video/mp4'}]" vg-preload="'none'"></vg-media>
                                    <vg-controls>
                                        <vg-play-pause-button ng-click="vm.stopAllVideos(video._id)"></vg-play-pause-button>
                                        <vg-time-display>{{currentTime | date:'mm:ss':'+0000'}}</vg-time-display>
                                        <vg-scrub-bar>
                                            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                        </vg-scrub-bar>
                                        <vg-time-display>{{totalTime | date:'mm:ss':'+0000'}}</vg-time-display>
                                        <vg-volume>
                                            <vg-mute-button></vg-mute-button>
                                            <vg-volume-bar></vg-volume-bar>
                                        </vg-volume>
                                        <vg-fullscreen-button></vg-fullscreen-button>
                                    </vg-controls>
                                    <vg-overlay-play ng-click="vm.stopAllVideos(video._id)"></vg-overlay-play>
                                 </videogular>
                                <uib-rating ng-model="video.avgRating" read-only="true"></uib-rating>
                                <h3>{{video.avgRating}}</h3>
                                <p ng-bind-html="video.description | limitHtml:100" ui-sref="root.home.video({ id: video._id })"></p>
                                <button type="button" class="btn btn-primary" ui-sref="root.home.video({ id: video._id })">More Information</button>
                                <h3 ng-show='vm.busy'>Loading data...</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>