<div class="container signup-flixer">
    <div class="row">
        <div class="col-sm-12 header-space">
            <ng-breadcrumbs page-title="breadcrumbs.signup-flixer"></ng-breadcrumbs>
        </div>
        <form class="form" class="form-horizontal" role="form" name="vm.form" ng-submit="vm.register()" novalidate>
            <div class="col-sm-5 left-container">
                <div class="form-group first-name" ng-class="{ 'has-success': vm.form.firstName.$valid && vm.submitted,'has-error': vm.form.firstName.$invalid && vm.submitted}">
                    <label class="control-label sr-only">{{'signUp.firstName' | translate}}</label>
                    <div class="input-group">
                        <input type="text" name="firstName" class="form-control" ng-model="vm.user.contact.firstName" placeholder="{{'signUp.firstName' | translate}}" translate translate-attr-placeholder="{{'signUp.firstName'}}" required/>
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    </div>
                </div>
                <div class="form-group last-name" ng-class="{ 'has-success': vm.form.lastName.$valid && vm.submitted,'has-error': vm.form.lastName.$invalid && vm.submitted}">
                    <label class="control-label sr-only">{{'signUp.lastName' | translate}}</label>
                    <div class="input-group">
                        <input type="text" name="lastName" class="form-control" ng-model="vm.user.contact.lastName" placeholder="{{'signUp.lastName' | translate}}" translate translate-attr-placeholder="{{'signUp.lastName'}}" required/>
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-success': vm.form.email.$valid && vm.submitted,'has-error': vm.form.email.$invalid && vm.submitted}">
                    <label for="email" class="control-label sr-only">{{"signUp.emailLabel" | translate}}</label>
                    <div class="input-group">
                        <input type="email" class="form-control" name="email" ng-model="vm.user.contact.email" placeholder="{{'signUp.emailLabel' | translate}}" translate translate-attr-placeholder="{{'signUp.emailLabel'}}" required mongoose-errors>
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    </div>
                    <p class="help-block" ng-show="vm.form.email.$error.mongoose">
                      {{vm.errors.email}}
                    </p>
                </div>
                <div class="form-group" ng-class="{'has-success': vm.form.password.$valid && vm.submitted,'has-error': vm.form.password.$invalid && vm.submitted}">
                    <label for="password" class="control-label sr-only">{{"signUp.passwordLabel" | translate}}</label>
                    <div class="input-group">
                        <input type="password" class="form-control" name="password" ng-model="vm.user.password"  placeholder="{{'signUp.passwordLabel' | translate}}" translate translate-attr-placeholder="{{'signUp.passwordLabel'}}" required mongoose-errors>
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    </div>
                    <p class="help-block" ng-show="vm.form.password.$error.mongoose">
                      {{vm.errors.password}}
                    </p>
                </div>
                <div class="form-group" ng-class="{'has-success': vm.form.confirmPassword.$valid && vm.submitted,'has-error': vm.form.confirmPassword.$invalid && vm.submitted}">
                    <label for="password" class="control-label sr-only">{{"signUp.confirmPasswordLabel" | translate}}</label>
                    <div class="input-group">
                        <input type="password"  match="vm.user.password" class="form-control" name="confirmPassword" ng-model="vm.user.confirmPassword"  placeholder="{{'signUp.confirmPasswordLabel' | translate}}" translate translate-attr-placeholder="{{'signUp.confirmPasswordLabel'}}" required>
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    </div>
                </div>
                 <p class="help-block error" ng-show="vm.form.confirmPassword.$error.match && vm.form.confirmPassword.$dirty && vm.submitted">Fields do not match!</p>
            </div>
            <div class="col-sm-4 center-container">
                <div class="form-group" ng-class="{'has-success': vm.form.phoneNumber.$valid && vm.submitted,'has-error': vm.form.phoneNumber.$invalid && vm.submitted}">
                    <label for="number" class="control-label sr-only">{{"signUp.address" | translate}}</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="phoneNumber" ng-model="vm.user.contact.phone"  placeholder="{{'signUp.phoneNumber' | translate}}" translate translate-attr-placeholder="{{'signUp.phoneNumber'}}" required>
                        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-success': vm.form.address.$valid && vm.submitted,'has-error': vm.form.address.$invalid && vm.submitted}">
                    <label class="control-label sr-only">{{'settings.address' | translate}}</label>
                    <div class="input-group">
                        <input ng-click="vm.cleanAddress()"
                                vs-google-autocomplete="{types: ['address']}"
                                ng-model="vm.user.address.full"
                                vs-city="vm.user.address.city"
                                vs-state="vm.user.address.state"
                                vs-country="vm.user.address.country"
                                vs-post-code="vm.user.address.zip"
                                vs-street="vm.user.address.street"
                                name="address"
                                type="text"
                                class="form-control"
                                placeholder="{{'settings.address' | translate}}"
                                required>
                        <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                    </div>
                </div>
                <div class="form-group">
                    <div agr-recaptcha key="{{vm.siteKey}}" response="vm.gRecaptchaResponse"></div>
                    <p class="help-block error" ng-show="vm.gRecaptchaResponse === null && vm.submitted">
                       {{'signUp.error.captcha' | translate}}
                    </p>
                </div>
            </div>
            <div class="col-sm-3 right-container">
                <div class="form-group">
                    <label>
                        {{'signUp.profileImage' | translate}}
                    </label>
                    <!-- <drag-and-drop limit="1" class-drop="fileProfile" formats="vm.imageFormats" model="vm.user.fileProfile" limit-size="10"></drag-and-drop> -->
                    <p class="help-block error" ng-show="vm.user.fileProfile.length == 0 && vm.submitted">
                       {{'common.error.imageRequired' | translate}}
                    </p>
                </div>
                <h5 class="pull-right">{{'signUp.fieldRequired' | translate}}</h5>
            </div>
            <div class="col-sm-12">
                <hr class="col-sm-12">
                <h3>{{'signUp.compensation.title' | translate}}</h3>
                <p>{{'signUp.compensation.description' | translate}}</p>
                <h3>{{'signUp.example.title' | translate}}</h3>
                <p>{{'signUp.example.description' | translate}}</p>
                <!-- <drag-and-drop photo-limit="8" video-limit="2" missing-text="true" class-drop="filesFlixer" formats="vm.imageAndVideosFormats" model="vm.user.filesFlixer" limit-size="100"></drag-and-drop> -->
                <p class="help-block error video-and-images" ng-show="vm.user.filesFlixer.length == 0 && vm.submitted">
                   {{'common.error.imageRequired' | translate}}
                </p>
            </div>
            <div class="col-sm-12 terms-condition-box">
                <hr>
                <div class="terms-condition col-sm-9">
                    <h3>{{'signUp.termsConditionTitle' | translate}}</h3>
                    <p class="box-terms">{{'signUp.termsAndConditions' | translate}}</p>
                    <a href="" ng-if="vm.isDesktop" class="pull-right" ng-click="vm.printTerms()">{{'signUp.print' | translate}}</a>
                </div>
                <div class="col-sm-3 drop-id">
                    <label>
                        {{'signUp.photoId' | translate}}
                        <i class="fa fa-info-circle fa-2x" ng-click="vm.modalIdInformation()"></i>
                    </label>
                    <!-- <drag-and-drop limit="1" class-drop="fileId" formats="vm.imageFormats" model="vm.user.fileId" limit-size="10"></drag-and-drop> -->
                    <p class="help-block error" ng-show="vm.user.fileId.length == 0 && vm.submitted">
                       {{'common.error.imageRequired' | translate}}
                    </p>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-xs-9 check-box" ng-class="{'has-success': vm.form.checkTerms.$valid && vm.submitted,'has-error': vm.form.checkTerms.$invalid && vm.submitted}">
                        <label>
                            <input type="checkbox" name="checkTerms" value="vm.user.checkTerms" ng-model="vm.user.checkTerms" required>
                            {{'signUp.aggredTerms' | translate}}
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group pull-right handler-buttons">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-check-circle"></i>
                                {{'signUp.submitButton' | translate}}
                            </button>
                        </div>
                        <p class="help-block error" ng-show="vm.error && vm.submitted" translate="{{vm.error}}"></p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
