/////////////
// wrapper //
/////////////
.section-heading {
    margin-bottom: 20px;
    font-size: 22px;
    text-transform: uppercase;
}

.section-heading.panel-title:after {
    display: none;
}

.heading-center {
    text-align: center;
    margin-bottom: 25px;
    .section-heading {
        margin-bottom: 5px;
        font-size: 40px;
        font-weight: 300;
    }
    hr {
        width: 80px;
        margin-top: 40px;
        border-color: #4BB0D9;
    }
}
