<footer ui-view="footer" class="ng-scope">
	<ng-footer class="ng-scope">
		<footer class="footer-minimal text-center">
			<div class="container">
				<div class="copyright ng-binding">©2016 Townflix. Todos Os Dereitos Reservados.</div>
			</div>
		</footer>
	</ng-footer>
</footer>