<table width="100%" bgcolor="#fafafa" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="2-images+text-columns">
		<tbody>
			<tr>
				<td>
					<table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" hasbackground="true">
						<tbody>
							<tr>
								<td width="100%">
									<table bgcolor="#ffffff" width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
										<tbody>
											<tr>
												<td>
													<!-- start of left column -->

													<table width="290" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
														<tbody>
															<!-- Spacing -->
															<tr>
																<td width="100%" height="20"></td>
															</tr>
															<!-- Spacing -->
															<tr>
																<td>
																	<!-- start of text content table -->

																	<table width="290" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
																		<tbody>
																			<!-- image -->
																			<tr>
																				<td width="290" height="160" align="center" class="devicewidth">
																					<div class="imgpop">
																						<img src="http://www.kaltura.com/p/931471/thumbnail/width/290/height/160/type/3/entry_id/1_fq1mck6r" alt="" border="0" width="290" height="160" st-image="ipad" style="display:block; border:none; outline:none; text-decoration:none;" class="colimg2" id="tb3ox23xil9b2o6r"></div>
																				</td>
																			</tr>
																			<!-- Content -->
																			<tr>
																				<td>
																					<table width="270" align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidthinner">
																						<tbody>
																							<tr>
																								<td width="100%" height="20"></td>
																							</tr>
																							<tr>
																								<td style="font-family: Helvetica, arial, sans-serif; font-size: 18px; color: #333333; line-height:24px;text-align:center;" st-title="2coltitle1">
																									<p>2 Columns Heading</p>
																								</td>
																							</tr>
																							<tr>
																								<td width="100%" height="20"></td>
																							</tr>
																							<tr>
																								<td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; line-height:24px; color: #666666; text-align:center;" st-content="2colcontent1">
																									<p>
																										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius modtempor incididunt ut labore et dolore.
																									</p>
																								</td>
																							</tr>
																							<tr>
																								<td width="100%" height="20"></td>
																							</tr>
																							<tr>
																								<td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #0a8cce; text-align:center;" st-title="2colreadmore1">
																									<p>
																										<a style="text-decoration:none; color:#0a8cce;" href="#">Read More</a>
																									</p>
																								</td>
																							</tr>
																						</tbody>
																					</table>
																				</td>
																			</tr>
																			<!-- end of Content -->
																			<!-- end of content -->
																		</tbody>
																	</table>
																</td>
															</tr>
															<!-- end of text content table -->
														</tbody>
													</table>
													<!-- end of left column -->
													<!-- start of right column -->
													<table width="290" align="right" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
														<tbody>
															<!-- Spacing -->
															<tr>
																<td width="100%" height="20"></td>
															</tr>
															<!-- Spacing -->
															<tr>
																<td>
																	<!-- start of text content table -->

																	<table width="290" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
																		<tbody>
																			<!-- image -->
																			<tr>
																				<td width="290" height="160" align="center" class="devicewidth">
																					<div class="imgpop">
																						<img src="http://www.kaltura.com/p/931471/thumbnail/width/290/height/160/type/3/entry_id/1_fq1mck6r" alt="" border="0" width="290" height="160" st-image="ipad" style="display:block; border:none; outline:none; text-decoration:none;" class="colimg2" id="91d9g2fmwwfdpldi"></div>
																				</td>
																			</tr>
																			<!-- Content -->
																			<tr>
																				<td>
																					<table width="270" align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidthinner">
																						<tbody>
																							<tr>
																								<td width="100%" height="20"></td>
																							</tr>
																							<tr>
																								<td style="font-family: Helvetica, arial, sans-serif; font-size: 18px; color: #333333;line-height:24px; text-align:center;" st-title="2coltitle2">
																									<p>2 Columns Heading</p>
																								</td>
																							</tr>
																							<tr>
																								<td width="100%" height="20"></td>
																							</tr>
																							<tr>
																								<td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; line-height:24px; color: #666666; text-align:center;" st-content="2colcontent2">
																									<p>
																										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius modtempor incididunt ut labore et dolore.
																									</p>
																								</td>
																							</tr>
																							<tr>
																								<td width="100%" height="20"></td>
																							</tr>
																							<tr>
																								<td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #0a8cce; text-align:center;" st-title="2colreadmore2">
																									<p>
																										<a style="text-decoration:none; color:#0a8cce;" href="#">Read More</a>
																									</p>
																								</td>
																							</tr>
																						</tbody>
																					</table>
																				</td>
																			</tr>
																			<!-- end of Content -->
																			<!-- end of content -->
																		</tbody>
																	</table>
																</td>
															</tr>
															<!-- end of text content table -->
														</tbody>
													</table>
													<!-- end of right column -->
												</td>
											</tr>
											<!-- Spacing -->
											<tr>
												<td width="100%" height="10"></td>
											</tr>
											<!-- Spacing -->
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>