<table width="100%" bgcolor="#fafafa" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="full-text">
  <tbody>
    <tr>
      <td>
        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" hasbackground="true">
          <tbody>
            <tr>
              <td width="100%">
                <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                  <tbody>
                    <!-- Spacing -->
                    <tr>
                      <td height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;"></td>
                    </tr>
                    <!-- Spacing -->
                    <tr>
                      <td>
                        <table width="560" align="justify" cellpadding="0" cellspacing="0" border="0" class="devicewidthinner">
                          <tbody>
                            <!-- content -->
                            <tr>
                              <td style="font-family: Helvetica, arial, sans-serif; font-size: 16px; color: #666666;
                               line-height: 30px;" st-content="fulltext-content">
                                <p align="justify">
                                  Seu vídeo e suas fotos foram analisados por nossa equipe e precisam de algumas mudanças.
                                  <br><br>
                                  Por favor, acesse o Job Dashboard e procure pelo trabalho com status “Redo status” para ver a lista de mudanças a serem feitas nos vídeos ou nas fotos.
                                  <br><br>
                                  Por favor, não apague a filmagem original e as fotos até que o cliente publique o material. Você será notificado assim que isso ocorra.
                                  <br><br>
                                  Detalhes do trabalho
                                  <br><br>
                                  <b>Trabalho id: <%= data.job.id %>
                                  <br><br>
                                  <a href="http://www.townflix.com/faq">Em caso de dúvidas, consulte nosso FAQ.</a>
                                  <br><br>
                                  <b>Equipe Townflix</b>
                                </p>
                              </td>
                            </tr>
                            <!-- End of content --> </tbody>
                        </table>
                      </td>
                    </tr>
                    <!-- Spacing -->
                    <tr>
                      <td height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;"></td>
                    </tr>
                    <!-- Spacing --> </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>