<div class="dropdown" ng-model="TranslateLanguageSelectVm.currentLocaleDisplayName" ng-if="TranslateLanguageSelectVm.visible">
    <button type="button" class="btn btn-link dropdown-toggle btn-xs" data-toggle="dropdown">
        <span class="fa fa-globe"></span>
        {{TranslateLanguageSelectVm.currentLocaleDisplayName}}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right country-selector" role="menu">
        <li ng-repeat="localesDisplayName in TranslateLanguageSelectVm.localesDisplayNames">
            <a href="#" ng-click="TranslateLanguageSelectVm.changeLanguage(localesDisplayName)">
                {{localesDisplayName}}
            </a>
        </li>
    </ul>
</div>