<div class="container reset-password">
    <div class="row">
        <div class="col-md-12 header-space">
            <ng-breadcrumbs page-title="breadcrumbs.resetPassword"></ng-breadcrumbs>
            <div class="col-md-8 col-md-offset-2">
                <form class="form-horizontal" role="form" name="vm.form" ng-submit="vm.resetPassword()" novalidate>
                    <div class="form-group" ng-class="{'has-success': vm.form.password.$valid && vm.submitted,'has-error': vm.form.password.$invalid && vm.submitted}">
                        <label for="password" class="control-label sr-only">{{'resetPassword.labelPassword' || translate}}</label>
                        <div class="col-sm-12">
                            <div class="input-group">
                                <input name="password" type="password" class="form-control" placeholder="{{'resetPassword.labelPassword' || translate}}" ng-model="vm.user.password" translate translate-attr-placeholder="{{'resetPassword.labelPassword'}}" required>
                                <span class="input-group-addon">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-success': vm.form.rePassword.$valid && vm.submitted,'has-error': vm.form.rePassword.$invalid && vm.submitted}">
                        <label for="rePassword" class="control-label sr-only">{{'resetPassword.labelRePassword' || translate}}</label>
                        <div class="col-sm-12">
                            <div class="input-group">
                                <input name="rePassword" match="vm.user.password" type="password" class="form-control" placeholder="{{'resetPassword.labelRePassword' || translate}}" ng-model="vm.user.rePassword" translate translate-attr-placeholder="{{'resetPassword.labelRePassword'}}" required>
                                <span class="input-group-addon">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group has-error">
                        <div class="col-sm-12">
                            <p class="help-block" ng-show="!vm.form.password.$dirty && !vm.form.rePassword.$dirty && vm.submitted" translate="resetPassword.fieldRequired"></p>
                            <p class="help-block has-error" ng-show="vm.errors.other">
                                {{vm.errors.other | translate}}
                            </p>
                            <p class="help-block error" ng-show="vm.form.rePassword.$error.match && vm.form.rePassword.$dirty && vm.submitted">{{'resetPassword.notMatch' | translate}}</p>
                        </div>
                    </div>
                    <div class="form-group has-success">
                        <div class="col-sm-12">
                            <p class="help-block" ng-show="vm.message !== null">
                                {{vm.message | translate}}
                                <i class="fa fa-spinner fa-pulse fa-2x"></i>
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary pull-right" ng-disabled="vm.disabled">
                                <i class="fa fa-check-circle"></i>
                                {{'resetPassword.submitButton' | translate}}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>